@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.tabs {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.tab {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 70px;
    padding: 10px 20px;
    max-width: 350px;
    min-height: 75px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;

    @include vp--1600 {
        flex: 1 1 50%;
    }

    @include vp--1280 {
        flex: 1 1 25%;
    }

    @include vp--680 {
        max-width: 260px;
        min-width: 200px;
        min-height: 50px;
        max-height: 55px;
        font-size: 12px;
        flex: 1 1;
    }
}

.tab.active {
    background-color: #FFFFFF;
}