@font-face {
	font-style: normal;
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	font-display: swap;
    src: url('../assets/fonts/Montserrat-ExtraLight.ttf') format('ttf');
}

@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	font-display: swap;
    src: url('../assets/fonts/Montserrat-Light.ttf') format('ttf');
}

@font-face {
	font-style: normal;
	font-weight: 400;
    font-family: 'Montserrat', sans-serif;
	font-display: swap;
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
	font-style: normal;
	font-weight: 500;
    font-family: 'Montserrat', sans-serif;
	font-display: swap;
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
	font-style: normal;
	font-weight: 600;
    font-family: 'Montserrat', sans-serif;
	font-display: swap;
    src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
}