.button {
    display: flex;
    align-items: center;
    padding: 20px 23px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    white-space: nowrap;
    z-index: 20;
}

.white {
    background-color: #ffffff;
    border: 2px solid #FFFFFF;
    color: #000000;
    -webkit-text-fill-color: #000000;
}

.white:hover {
    border: 2px solid #FFFFFF;
}

.button:hover {
    background-color: transparent;
    transition: .5 ease-in-out;
    color: #FFFFFF;
    -webkit-text-fill-color: #FFFFFF;
}

.orange {
    background-color: #DB8741;
    border: 2px solid #DB8741;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;
}

.orange:hover {
    background-color: #EEEEEE;
    color: #DB8741;
    -webkit-text-fill-color: #DB8741;
}

.red {
    background-color: #DA552F;
    border: 2px solid #DA552F;
    color: #FFFFFF;
    -webkit-text-fill-color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    text-transform: none;
    padding: 20px 10px;
    height: 50px;
}

.red:hover {
    color: #DA552F;
    -webkit-text-fill-color: #DB8741;
}