@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.container {
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: row;
    background-image: url(/home/background.png);
    background-position: 100% 15%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 11% 70px 400px;
    color: #ffffff;
    position: relative;

    @include vp--1024 {
        padding: 20% 30px 400px;
        flex-direction: column;
    }

    @include vp--680 {
        padding: 25% 15px 0;
        background: rgba(7, 35, 56, 1);
    }
}

.topGradient {
    position: absolute;
    display: none;
    bottom: -45px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, rgba(7, 35, 56, 1), transparent);

    @include vp--680 {
        display: block;
    }
}

.bottomGradient {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 115px;
    background-image: linear-gradient(to top, rgba(240, 240,240, 0.8), transparent);
}

.mobile {
    background-image: url(/home/background.png);
    background-position: center 0%;
    background-size: cover;
    width: 100%;
    min-height: 443px;
}

.firstColumn {
    width: 70%;

    @include vp--1024 {
        width: 100%;
    }
}

.secondColumn {
    width: 30%;

    @include vp--1024 {
        margin-top: 80px;
        width: 100%;
    }
}

.textBlock {
    position: relative;
    max-width: 685px;
}

.textItem {
    margin-bottom: 40px;

    @include vp--680 {
        margin-bottom: 20px;
    }
}

.h3, .h4, .span, .smspan {
    text-transform: uppercase;
}

.h3 {
    font-family: $font-f-montserrat;
    font-size: 50px;
    font-weight: 500;
    line-height: 118%;

    @include vp--680 {
        font-size: 30px;
    }
}

.span {
    position: absolute;
    left: 370px;
    bottom: 7px;
    font-family: $font-f-montserrat;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;

    @include vp--680 {
        left: 235px;
        bottom: -32px;
    }
}

.h4 {
    font-size: 30px;
    font-weight: 500;
    line-height: 110%;
}

.smspan {
    font-size: 16px;
}