@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.footerWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 70px 40px;

    @include vp--1024 {
        padding: 30px 30px 40px;
    }

    @include vp--680 {
        padding: 30px 15px 40px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow: visible;

    @include vp--680 {
        flex-direction: column;
    }
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 40px;
    margin: 0;
    padding: 0;
}

.item {
    -webkit-text-fill-color: #5E6076;
    text-transform: uppercase;
    vertical-align: center;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.text {
    font-size: 11px;
}