@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/form.png);
    background-size: cover;
    font-weight: 300;
}

.content {
    position: relative;
    max-width: 600px;
    width: 510px!important;
    display: flex;
    gap: 35px;
    flex-direction: column;
    padding: 40px!important;
}

.close {
    position: absolute;
    top: 40px;
    right: 25px;
	width: 20px;
	height: 20px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calcVW(30);
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    width: 100%;
    height: 57px;
    border-radius: 6px;
    padding: 20px 10px;
    font-weight: 500;
    font-size: 14px;
    color: #ABADC5;
    -webkit-text-fill-color: #ABADC5;
    border: 1px solid #F0F0F0;
    outline: 0;
}

.policy {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    gap: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    color: #777990;
    -webkit-text-fill-color: #777990;
}

.policyInput {
    margin-top: 2px;
    accent-color:#777990;
}
.submitButton {
    background-color: #DA552F;
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 10px;
    border-radius: 12px;
    color: #FFFFFF;
    -webkit-text-fill-color: #FFFFFF;
}

.policyLink {
    padding: 0 5px;
    text-decoration: underline;
    -webkit-text-fill-color: #777990;
}

.bottom {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
